   <thead>
     <div id="nav-background">
      <div id="nav-container">
        <header id="nav-header">
          <h1><a href="" id="nav-logo">HOME</a></h1>
       
        </header>
        <nav>
          <ul class="nav-ul hide-ul">
            <li><a class="nav-link" href="/forum/admin/homepage">Home</a></li>
            <li><a class="nav-link active-link" href="/forum/admin/newpost">Thêm bài mới</a></li>
           
            <li><a class="nav-link" href="/forum/admin/pending">Duyệt bài đăng</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </thead>
<div class="edit-comment">

<div class="newpost">


<h1>NEWPOST</h1>

</div>

<div class="edit-comment-modal edit-comment-modal-store ">


<form method="POST" action="/forum/admin/store">
  <div class="form-group">
      <label for="name">User Name - Admin</label>
      <input type="text" class="form-control" id="name" name="username" autocomplete="off">
    <div class="form-group">
      <label for="caption">Hãy nhập nội dung bài viết </label>
      <input type="text" class="form-control" id="caption" aria-describedby="caption" name="caption" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="link">Link Image</label>
      <input type="text" class="form-control" id="image" placeholder="URL" name="image" autocomplete="off">
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
</form>
</div>
</div>