<div class="edit-comment">

<div class="newpost">


<h1>NEWPOST</h1>

</div>

<div class="edit-comment-modal edit-comment-modal-store ">


<form method="POST" action="/forum/admin/store">
  <div class="form-group">
      <label for="name">User Name - Admin</label>
      <input type="text" class="form-control" id="name" name="username" autocomplete="off">
    <div class="form-group">
      <label for="caption">Hãy nhập nội dung bài viết </label>
      <input type="text" class="form-control" id="caption" aria-describedby="caption" name="caption" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="link">Link Image</label>
      <input type="text" class="form-control" id="image" placeholder="URL" name="image" autocomplete="off">
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
</form>
</div>
</div>