
<form method="POST" action="/forum/customer/store">
  <div class="form-group">
      <label for="name">User Name</label>
      <input type="text" class="form-control" id="name" name="username" value="{{username}}" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="name">Quyền</label>
      <input type="text" class="form-control" id="name" name="isAdmin">
    </div>
    <div class="form-group">
      <label for="caption">Hãy nhập nội dung bài viết </label>
      <input type="text" class="form-control" id="caption" aria-describedby="caption" name="caption" value="{{caption}}" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="link">Link Image</label>
      <input type="text" class="form-control" id="image" placeholder="URL" name="image" value="{{image}}" autocomplete="off">
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
</form>