<thead>
  <div id="nav-background">

    <header id="nav-header">

    </header>
    <nav style="    height: 72px;
    position: absolute;">
      <ul class="nav-ul hide-ul">
        <li>
          <a href="/"><img style="height:80%; margin-left: 75px;" src="/image/logo.png" alt="logo" class="img-fluidd"></a>
        </li>
        <li style="width: 100px;height:80%"></li>
        <li style="width: 300px;height:80%"><a class="nav-link"
            href="/forum/customer/homepage">Home</a></li>
        <li style="width: 300px;height:80%"><a class="nav-link active-link"
            href="/forum/customer/newpost">Thêm bài mới</a></li>
        <li style="width: 200px;height:80%"></li>

        <li style="max-width: 200px;height:80%; margin-left: 110px;">
          <img style="align-items: center;"
            src="https://scr.vn/wp-content/uploads/2020/07/Avatar-m%E1%BA%B7c-%C4%91%E1%BB%8Bnh-n%E1%BB%AF-c%C3%B3-m%C3%A0u-768x768.jpg"
            alt="" class="comment-img">


          <p style="margin-top:15px"><strong style="align-items: center;">{{customerName}}</strong>
          {{!-- <strong  id="save-id">ID:{{customerId}}</strong> --}}
          </p>



        </li>
      </ul>
    </nav>

  </div>
</thead>
<div class="edit-comment">

  <div class="newpost">


    <h1>NEWPOST</h1>

  </div>

  <div class="edit-comment-modal edit-comment-modal-store edit-background">

    <form method="POST" action="/forum/customer/store" enctype="multipart/form-data">
      <div class="form-group">
        
        <div class="form-group">
          <label for="caption">Hãy nhập nội dung bài viết </label>
          <textarea rows="10" cols="50" type="text" class="form-control" id="caption" aria-describedby="caption"
            name="caption" autocomplete="off"></textarea>   
          <textarea type="text" class="form-control" id="title" aria-describedby="caption"
            name="title" autocomplete="off"></textarea>
        </div>
        
        <div>
          <label>Image</label>
          <input type="file" name="profile-file" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>