<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/admin/product">Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong>Extensions</strong>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/admin/product">Product</a>
            <a class="dropdown-item" href="/admin/category">Category</a>
            <a class="dropdown-item" href="/admin/attributeset">Attribute</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/management/customer">Customer</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/payment/order">Order</a>
            <a class="dropdown-item" href="/invoice">Invoice</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/rule/promotion">Promotion</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/forum/admin/homepage">Forum</a>
          </div>
        </li>
      </ul>
      <div class="nav-item">
          <a class="nav-link" href="/customer/admin/logout"><img style="height: 40px; width: 40px" src="/image/logout3.png"/></a>
      </div>
    </div>
  </div>
</nav>