<footer>
    <section class="footer__top">
        <div class="container">
            <div class="row">
                <article class="footer__top-intro col-lg-5 col-md-4 col-sm-6">
                    <h4 class="footer__top-intro-heading">
                        Về chúng tôi
                    </h4>
                    <div class="footer__top-intro-content">
                        Cửa hàng CandleInTheWind là một câu lạc bộ những
                        người yêu thích tinh dầu, chia sẻ các hoạt động và cho phép khách hàng giao lưu trao
                        đổi tinh dầu, nến (giá thành của nến tinh dầu tương đối đắt tiền nên cửa hàng muốn
                        thành lập một không gian để khách hàng có thể trao đổi, bán lại các sản phẩm mình
                        đang dùng, giá cả do các khách hàng tự thoả thuận với nhau).<br> <br>
                        <i class="fas fa-phone-volume"></i> Điện thoại: 0123 456 789<br>
                        <i class="fas fa-envelope"></i> Email: candle123@gmail.com<br>

                    </div>
                </article>

                <article class="footer__top-policy col-lg-3 col-md-4 col-sm-6">
                    <h4 class="footer__top-policy-heading">
                        Chính sách mua hàng
                    </h4>

                    <ul class="footer__top-policy-list">
                        <li class="footer__top-policy-item">
                            <a href="#" class="footer__top-policy-link">Hình thức đặt hàng</a>
                        </li>
                        <li class="footer__top-policy-item">
                            <a href="#" class="footer__top-policy-link">Hình thức thanh toán</a>
                        </li>
                        <li class="footer__top-policy-item">
                            <a href="#" class="footer__top-policy-link">Phương thức vận chuyển</a>
                        </li>
                        <li class="footer__top-policy-item">
                            <a href="#" class="footer__top-policy-link">Chính sách đổi trả</a>
                        </li>
                        <li class="footer__top-policy-item">
                            <a href="#" class="footer__top-policy-link">Hướng dẫn sử dụng</a>
                        </li>
                    </ul>
                </article>

                <article class="footer__top-contact-wrap col-lg-4 col-md-4 col-sm-6">
                    <h4 class="footer__top-contact-heading">
                        Hotline liên hệ
                    </h4>

                    <div class="footer__top-contact">
                        <div class="footer__top-contact-icon">
                            <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/cp0/271594339_249531210670320_4796282404770895027_n.png?_nc_cat=111&ccb=1-5&_nc_sid=aee45a&_nc_ohc=TUfUgGcdmHoAX8cWM68&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVJrZFqT0yw-r1anDE0n_0cUEArvXc0OVrV2qFdryRIeiw&oe=620D53B7"
                                class="footer__top-contact-img">
                        </div>

                        <div class="footer__top-contact-phone-wrap">
                            <div class="footer__top-contact-phone">
                                1900 5678
                            </div>
                            <div class="footer__top-contact-des">
                                (Giải đáp thắc mắc 24/24)
                            </div>
                        </div>
                    </div>

                    <h4 class="footer__top-contact-heading">
                        Kết nối với chúng tôi
                    </h4>

                    <div class="footer__top-contact-social">
                        <a href="#" class="footer__top-contact-social-link">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#" class="footer__top-contact-social-link">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="#" class="footer__top-contact-social-link">
                            <i class="fab fa-tiktok"></i>
                        </a>

                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="footer__bottom">
        <div class="container">
            <div class="row">
                <span class="footer__bottom-content">@Bản quyền thuộc về CandleInTheWind | Thiết kế bởi Nhóm 03</span>
            </div>
        </div>
    </section>
</footer>



<style>
    /*footer*/
    .footer__top {
        background-color: #000000;
        color: #fff;
        padding: 1.6rem 0;
        margin-top: 100px;
        font-size: inherit;
        font-weight: 200px;
    }

    .footer__top-intro {}

    .footer__top-intro-heading,
    .footer__top-policy-heading,
    .footer__top-contact-heading {

        font-size: 25px;
        color: #fff;
        padding: 1.2rem 0;
    }

    .footer__top-intro-content {

        font-size: inherit;
        font-weight: 200px;
    }

    .footer__top-policy-list {
        list-style: none;
        margin-bottom: 1rem;
    }

    .footer__top-policy-item {}

    .footer__top-policy-link {

        font-size: inherit;
        font-weight: 200px;
        color: #fff;
    }

    .footer__top-policy-link:hover {
        color: #000000;
        opacity: 0.8;
        text-decoration: none;
    }

    .footer__top-contact-wrap {}

    .footer__top-contact-heading {}

    .footer__top-contact {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }


    .footer__top-contact-icon {
        margin-right: 2.6rem;
    }

    .footer__top-contact-img {}

    .footer__top-contact-phone-wrap {}

    .footer__top-contact-phone {

        font-size: inherit;
        font-weight: 200px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 1rem;
    }

    .footer__top-contact-des {

        font-size: inherit;
        font-weight: 200px;
        color: #fff;
    }

    .footer__top-contact-social-link {
        margin-right: 1rem;
        font-size: 25px;
    }

    .footer__bottom {
        height: 3.4rem;
        background: #666;
        text-align: center;
    }

    .footer__bottom-content {

        font-size: inherit;
        font-weight: 200px;
        color: #fff;
        margin: 0 auto;
        line-height: 3.4rem;
    }

    .row-img-pending {
        display: block;
        max-width: 400px;
        max-height: 400px;
        width: 100%;
    }

    .img-fluidd {

        height: auto;
        margin-left: 3rem;
    }
</style>