 <form class="form-group" id="product-form" method="POST" enctype="multipart/form-data" action="/admin/promotion/save" >
            
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="product_id" class="form-control" value="" id="product_id">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="product_name" class="form-control" value="{{product_name}}" id="product_id">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="product_sku" class="form-control" placeholder="Enter Product SKU" id="sku">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="product_name" class="form-control" placeholder="Enter Product Name" id="name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="number" name="product_price" class="form-control" placeholder="Enter Product Price" id="price">
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <textarea rows="1" name="product_description" class="form-control" placeholder="Enter Product Description"
                              id="description"></textarea>
                </div>
            </div>
            
            <div class="col-md-2">
                <div class="form-group" style="display: flex;">
                    <input type="submit" name="Submit" id="insert" 
                           class="btn btn-primary btn-sm"
                           value="Save Promotion">
                    <a href="/admin/product"><button style="margin-left: 10px;" type="button" class="btn btn-secondary" action=>Cancel</button></a>
                </div>
            </div>
        
</form>
<style>
    #upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed black;
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}

</style>
<script>
    function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#imageResult')
                .attr('src', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
    }
}

function getProductIdFromURL() {
    var url = window.location.href;
    var listSplit = url.split("/");
    document.getElementById("product_id").value = listSplit[listSplit.length-1];
}

getProductIdFromURL();

$(function () {
    $('#upload').on('change', function () {
        readURL(input);
    });
});


</script>