{{#each products}}
 <form class="form-group" id="promotion-form" method="POST" enctype="multipart/form-data" action="/admin/promotion/update/{{this._id}}" >
           <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="product_id" class="form-control" value="" id="product_id">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="promotion_description" class="form-control" placeholder="Enter Promotion Description" id="description">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="number" name="promotion_discount" class="form-control" placeholder="Enter Promotion Discount" id="discount">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="expiredAt" class="form-control" placeholder="Enter Date Expire" id="expired">
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <select id="{{this.child_category}}" class="form-control select-cate" name="product_type">         
{{/each}}
                        {{#each this.categories}}
                        <option id="{{this.child_category}}">{{this.child_category}}</option>
                        {{/each}}
                    </select>                
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group" style="display: flex;">
                    <input type="submit" name="Submit" id="insert" 
                           class="btn btn-primary btn-sm"
                           value="Save Product">
                    <a href="/admin/product"><button style="margin-left: 10px;" type="button" class="btn btn-secondary" action=>Cancel</button></a>
                </div>
            </div>
</form>
<style>
    #upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed black;
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}

</style>
<script>
    function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#imageResult')
                .attr('src', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
    }
}

$(function () {
    $('#upload').on('change', function () {
        readURL(input);
    });
});
    

</script>