<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/storehead.css">
    </head>
    <body>
        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10 col-md-10">
                        <nav class="navbar navbar-expand-xl navbar-light">
                            <div class="container-fluid">
                                <a href="/" class="navbar-brand"><img src="/image/logo.png" alt="logo" class="img-fluid" /></a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                    <ul class="navbar-nav mx-auto">
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="#">Candle</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Wax</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Oil</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Accessories
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <li><a class="dropdown-item" href="#">Decoration</a></li>
                                                <li><a class="dropdown-item" href="#">Bathroom</a></li>
                                                <li><a class="dropdown-item" href="#">Tree</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Sale</a>
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Forum</a>
                                        </li>
                                        <li class="nav-item">
                                            <a id='login' class="nav-link" href="/customer">Login</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>


                    <div class="col-lg-2 col-md-3 cart-login" style="padding-top: 15px;">
                        <div class="float-end cart mt-2">
                            <a href="/checkout/payment">
                                <span id='number-in-cart1' class="number"></span>
                                <img class="img-fluid" style="width: 50px; height:50px" src="/image/cart2.png" alt="cart" />
                            </a>
                        </div>       
                    </div>
                </div>
            </div>
        </header>

        <script>
            
            function getCookie(input) {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var name = cookies[i].split('=')[0].toLowerCase();
                var value = cookies[i].split('=')[1].toLowerCase();
                if (name === input) {
                return value;
                } else if (value === input) {
                return name;
                }
            }
            return "";
            };
            path = window.location.pathname;
            console.log(path)
            if(path == '/'){
                data = getCookie('store');
                array = data.split(" ")
                document.getElementById("number-in-cart1").innerHTML = array[1];
            }
            if(path != '/'){
                data2 = getCookie('detail');
                array = data2.split(" ")
                document.getElementById("number-in-cart1").innerHTML = array[1];
            }
            console.log(getCookie('login'))
            if(getCookie('login') !== ''){
                document.getElementById("login").innerHTML = '';

            } 
            

        </script>
        <!-- Bootstrap JS -->
        <script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>
    
    </body>
</html>